.author-profile {
    margin: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
  }
  
  .author-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .author-tabs button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
  }
  
  .author-tabs button.active {
    background-color: lightblue;
  }

  .author-section {
    width: 680px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .author-section h1 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: normal;
  }

  .author-section p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
  }