.banner {
    background-color: #ffc017;
    color: #333;
    padding: 10px;
    /* text-align: center; */
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    margin-top: 50px;

  }
  
  .inner-box-left {
    flex: 1; 
    align-items: flex-start;
    margin-left: 150px;
    /* height: auto; */
  }
  .inner-box-right{
    flex: 1;
    align-items: flex-end;
    margin-left: 450px;
  }
