.post {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  .post img {
    width: 220px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .post-details {
    flex: 1;
  }
  
  .post h3 {
    margin-top: 0;
  }
  
  .post p {
    margin: 5px 0;
  }
  